{% extends "ui/inmap.html" %}

{% block leftblock %}

<div class="left">

<input type="text" class="seach" id="btn_seach" />

<div style="  position: absolute; width: 250px; height: 500px; top: 150px; overflow: auto" id="hide_list_spopind">
<ul>
{% for grp in group_list %}
    <li><input type="checkbox" class="select_group" style="float: left; padding: 0px; "/> <a href="#" style="float: left; padding-left: 8px; ">{{ grp.name }}</a>
        <ul  style="display: none;">
            {% for elm in dev_list %}{% if elm.departament_id ==  grp.id %}
                    <li guid="{{ elm.id }}"><a href="#" class="chek" checke="">{{ elm }}</a></li>
            {% endif %}{% endfor %}
        </ul>
    </li>
{% endfor %}
    <li><input type="checkbox" class="select_group" style="float: left; padding: 0px; "/>
    <a href="#" style="float: left; padding-left: 8px; ">Нераспределенно</a>
        <ul style="display: none;">
            {% for elm in dev_list %}
                {% if elm.departament ==  None %}
                    <li guid="{{ elm.id }}"><a href="#" class="chek" checke=""> {% if elm.f == 'Неопределенно' %}  {{ elm.imei }} {% else %}  {{ elm.f }} {% endif %}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>
</div>

</div>

{% endblock %}