{% extends "bossteme.html" %}

{% block bosscontent %}

    <script type="text/javascript" src="/static/js/jquery-2.0.2.min.js"></script>
	<link rel="stylesheet" href="/static/gps/leaflet.css" />
    <script type="text/javascript" src="/static/js/jquery-ui-sliderAccess.js"></script>
    <link rel="stylesheet" href="/static/gps/style.css" type="text/css" />
{#    <script type="text/javascript" src="/static/js/app.js"></script>#}
    <script src="/static/gps/leaflet.js"></script>

<table>
    <tr>
        <td valign="top">
            <p style="padding-left: 20px;"><a href="#" onclick="loadPointExwl()">Скачать Excel файл</a></p>
             {% block leftblock %}{% endblock %}
        </td>
        <td valign="top">
<style>
    #txt_event_st{
        float: left;
        width: 260px;
    }
</style>

<div id="loadinf" style="position: absolute; left: 50%; width: 250px;  margin-left: -200px; z-index: 999999999999999999999999999999; opacity: 0.5; background: #000; color: #FFF; font-size: 18px; text-align: center; padding:10px;">Загрузка данных с сервера</div>
<div id="map" ></div>



<script>

var url_gps;
var map;
var currentPosition = new L.LayerGroup();

function decode(encoded, precision) {
    precision = 6;
	precision = Math.pow(10, -precision);
	var len = encoded.length, index=0, lat=0, lng = 0, array = [];
	while (index < len) {
		var b, shift = 0, result = 0;
		do {
			b = encoded.charCodeAt(index++) - 63;
			result |= (b & 0x1f) << shift;
			shift += 5;
		} while (b >= 0x20);
		var dlat = ((result & 1) ? ~(result >> 1) : (result >> 1));
		lat += dlat;
		shift = 0;
		result = 0;
		do {
			b = encoded.charCodeAt(index++) - 63;
			result |= (b & 0x1f) << shift;
			shift += 5;
		} while (b >= 0x20);
		var dlng = ((result & 1) ? ~(result >> 1) : (result >> 1));
		lng += dlng;
		//array.push( {lat: lat * precision, lng: lng * precision} );
		array.push( [lat * precision, lng * precision] );
	}
	return array;
}

function loadPointExwl(){

        var list_id = "";
        $( ".chek" ).each(function (i) {
            if ( $(this).attr("checke") == "checked" ) {

                var ths = this;

                if(list_id > "")
                    list_id = list_id + ",";

                list_id = list_id + $(ths).parent().attr('guid');
            }
        });
if(list_id>"")
location.href='/geoumk/event/getpointexcel/?id='+list_id;
else
alert("Не выбранны участники!");
}


$(document).ready(function() {

    /*------------------------------------------------------------------------------------------------------------------*/
    /*  Позиционирование по таймеру                                                                                     */
    /*------------------------------------------------------------------------------------------------------------------*/

    var myVar=setInterval(function(){myTimer()}, 60000);
    function myTimer()
    {
        tek();
    }

    /*------------------------------------------------------------------------------------------------------------------*/


    url_gps = "/geoumk/event/getpoint/?r="+Math.random() ;


    /*------------------------------------------------------------------------------------------------------------------*/
    /*  Позиционирование элементов на странице                                                                          */
    /*------------------------------------------------------------------------------------------------------------------*/

    doc_w = $("body").width();
    doc_h = $(window).height();

    $("#map").css({'width': doc_w-260+'px'});
    $("#map").css({'height': (doc_h-$("#map").offset().top-20)+'px'});

    $("#leftm").css({'height': doc_h+'px'});

    $('#hide_list_spopind').css({'height': (doc_h-$("#hide_list_spopind").offset().top-20)+'px'});
    /*------------------------------------------------------------------------------------------------------------------*/


    /*------------------------------------------------------------------------------------------------------------------*/
    /*  Инициализация карты                                                                                             */
    /*------------------------------------------------------------------------------------------------------------------*/

	map = L.map('map').setView([45.03896, 39.08004], 7);

	L.tileLayer('http://10.10.55.48/osm_tiles/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '  ЮМК  '
		}).addTo(map);

    currentPosition.addTo(map);

    $("#loadinf").hide(); // Скрыть информацию о загрузке

    /*------------------------------------------------------------------------------------------------------------------*/



    /*------------------------------------------------------------------------------------------------------------------*/
    /*  Текущее местоположение                                                                                          */
    /*------------------------------------------------------------------------------------------------------------------*/

    function tek()
    {

        var list_id = "";
        $( ".chek" ).each(function (i) {
            if ( $(this).attr("checke") == "checked" ) {

                var ths = this;

                if(list_id > "")
                    list_id = list_id + ",";

                list_id = list_id + $(ths).parent().attr('guid');
            }
        });
if(list_id == ""){

    currentPosition.clearLayers();
}

       $.get('/geoumk/event/getpoint/?id='+list_id,
                function(data)
                {
                    currentPosition.clearLayers();

                    var length = data.length,
                    element = null;
                    for (var i = 0; i < length; i++) {
                        element = data[i];

                        $('li[guid="'+element.devace_id+'"]').attr('cen0', element.lat);
                        $('li[guid="'+element.devace_id+'"]').attr('cen1', element.lon);
                        var st = ""

                       /* if(element[5] == "Error")
                            st="Нет данных";
                        if(element[5] == "Offline")
                            st="Выключен";
                        if(element[5] == "Stopped")
                            st="Стоит";
                        if(element[5] == "Going")*/
                                //  st="Движется";

                        L.marker([element.lat, element.lon], {title: $('li[guid="'+element.devace_id+'"]').find('a').html()+'<p>'+element.change+'</p>', alt: $('li[guid="'+element.devace_id+'"]').find('a').html()+'<p>'+element.change+'</p>'}).addTo(currentPosition).bindPopup("<div style='color: "+element[3]+"'><b>"+$('li[guid="'+element.devace_id+'"]').find('a').html()+"</b>"+"<br>"+element.change+""+ "  </div>");

                    }
                }, "json").fail( function(xhr, textStatus, errorThrown) {
                 //  alert(textStatus);

               });
    }

    /*------------------------------------------------------------------------------------------------------------------*/




    /*------------------------------------------------------------------------------------------------------------------*/

    $(".chek").click(function(){


        if ( $(".marshchek").attr("check") == "checked" ) {
          //  marsh();
        }
        else
        {
           // myCollection_marsh.removeAll();
           // myMap.geoObjects.remove(myCollection_marsh);
            $(".info_treck").html("");
        }
    });

    var fockus = 0;

    $(".left ul li .select_group").click(function(){



        if($(this).is(':checked'))
         {
            $(this).parent().children("ul").show();
            $(this).parent().find("ul li a").addClass("action");
            $(this).parent().find("ul li a").attr("checke", "checked") ;
         }
         else
         {
            $(this).parent().children("ul").hide();
            $(this).parent().find("ul li a").removeClass("action");
            $(this).parent().find("ul li a").attr("checke", "") ;
         }
        tek();
    });


    $(".left ul li a").click(function(){

         if($(this).hasClass("action"))
         {
            $(this).removeClass("action");
            $(this).attr("checke", "") ;
         }
         else
         {
            $(this).addClass("action");
            $(this).attr("checke", "checked") ;
         }

         if($(this).parent().children("ul").css("display") == "none")
         {
            $(this).parent().children("ul").show();
           // $(this).parent().find("ul li a").addClass("action");
           // $(this).parent().find("ul li a").attr("checke", "checked") ;
         }
         else
         {
            $(this).parent().children("ul").hide();
           // $(this).parent().find("ul li a").removeClass("action");
           // $(this).parent().find("ul li a").attr("checke", "") ;
         }

         if(fockus == 1)
         {
            $(".left ul ul").hide();
                $(".left ul li a").show();
                $(".left ul li a").each(function (index, domEle) {
                    if($(this).hasClass("action"))
                    {
                        $(this).parent().parent().show();
                        $(this).parent().parent().parent().children("li a").addClass("action");
                        $(this).parent().parent().parent().children("li a").attr("checke", "checked") ;
                    }
                });
                fockus = 0;
         }

         tek();

    });

    $("#btn_seach").keyup(function(){
    fockus = 0;
        $(".left ul").show();
        $(".left ul li a").hide();
         $(".left ul ul li a").each(function (index, domEle) {
        if ($(this).html().toUpperCase().indexOf($("#btn_seach").val().toUpperCase())>-1) {
            $(this).show();
            }

      });
    });

    $("#btn_seach").focusout(function(){
        if($("#btn_seach").val()=="")
        {
            $(".left ul ul").hide();
                $(".left ul li a").show();
                $(".left ul li a").each(function (index, domEle) {
                    if($(this).hasClass("action"))
                    {
                        $(this).parent().parent().show();
                        $(this).parent().parent().parent().children("li a").addClass("action");
                    }
                });
                fockus = 0;
        }
        else
        {
            $("#btn_seach").val("");
            fockus = 1;
        }
    });

    /*------------------------------------------------------------------------------------------------------------------*/

});

</script>
        </td>
    </tr>
</table>

{% endblock %}


