{% extends "ui/linemap.html" %}

{% block leftblock %}

<div class="left">


<div class="period_dat">
                        <p class="tit_dat_par">Показывать данные за период</p>
						<p class="tit_dat_par"><span class="tit_nad">Начало</span> <input type="text" class="sech" id="date1" value="2013-06-21 01:00" /></p>
						<p class="tit_dat_par"><span class="tit_nad">Конец</span> <input type="text" class="sech" id="date2" value="2013-07-02 12:00" /></p>
</div>


<input type="text" class="seach" id="btn_seach" />

<ul>
{% for grp in group_list %}
    <li><input type="checkbox" class="select_group" style="float: left; padding: 0px; "/> <a href="#" style="float: left; padding-left: 8px; ">{{ grp.name }}</a>
        <ul  style="display: none;">
            {% for elm in dev_list %}{% if elm.departament_id ==  grp.id %}
                    <li guid="{{ elm.id }}"><a href="#" class="chek" checke="">{{ elm }}</a></li>
            {% endif %}{% endfor %}
        </ul>
    </li>
{% endfor %}
    <li><input type="checkbox" class="select_group" style="float: left; padding: 0px; "/>
    <a href="#" style="float: left; padding-left: 8px; ">Нераспределенно</a>
        <ul style="display: none;">
            {% for elm in dev_list %}
                {% if elm.departament ==  None %}
                    <li guid="{{ elm.id }}"><a href="#" class="chek" checke=""> {% if elm.f == 'Неопределенно' %}  {{ elm.imei }} {% else %}  {{ elm.f }} {% endif %}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>
</div>


{% endblock %}