<!DOCTYPE html>
<html>
<head>
    <title>Администрирование GPS</title>

<style>
body{
font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.menured{
    margin: 0px;
    padding: 0px;
    float: left;
}
.menured li{
    display: block;
    margin: 0px;
    padding: 0px;
    float: left; padding: 20px; padding-left: 0PX; padding-top: 0px;
}
h3{ padding: 0px; margin: 0px; }

.tmenhb{
    margin-bottom: 0px; padding-bottom: 0px; border-bottom: 1px solid #DCDCDC;
}

</style>

</head>
<body>

<div class="tmenhb">
<table>
<tr>

<td>
<h3>Редактор</h3>
<ul class="menured">
    <li><a href="/geoumk/"> Список устройств</a></li>
    <li><a href="/geoumk/add/"> Добавить устройство</a></li>

    <li><a href="/geoumk/group/"> Список папок</a></li>
    <li><a href="/geoumk/group/add/"> Добавить папку</a></li>

</ul>
</td>

<td>
<h3>Отчетность</h3>
<ul class="menured">
    <li><a href="/geoumk/ui/base/"> Текущее местоположение</a></li>
    <li><a href="/geoumk/ui/line/"> История передвижений и остановок</a></li>
</ul>
</td>

</tr>
</table>
</div>

{% block bosscontent %}{% endblock %}

</body>
</html>