{% if isXls %}<html lang="ru" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head lang="ru"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{{ meta_data.title }}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head>
{% else %}<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{{ meta_data.title }}</title>
<style type="text/css">
th {
    border: none;
    background-color: #cccccc;
}
td {
    border: none;
    background-color: #FFFFFF;
}
table {
    border-spacing:1px;
    background-color: #AAAAAA;
}
.odd td{
    background-color: #EEEEEE;
}
.highlight{
    background-color: #c2dbff;
}
.odd .highlight{
    background-color: #b1cdf0;
}
</style>
</head>
{%  endif %}
<body>
<h1>{{ meta_data.title }}</h1>
{% for field in meta_data.header %}
<div>{{ field.displayName }}:
    {% if field.link_field and data.header|keyvalue:field.link_field %}
        <a href="{{ data.header|keyvalue:field.link_field|default:'#' }}">
    {% endif %}
    {{ data.header|keyvalue:field.field|default:'-' }}
    {% if field.link_field %}
        </a>
    {% endif %}
</div>
{% endfor %}
{% if data.table %}
<table border="0">
    <thead>
        <tr>
            {% for field_info in meta_data.table %}
            <th id="field-header-{{ field_info.field }}">{{ field_info.displayName }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in data.table %}
        <tr class="{% cycle ' odd' '' as odd_row %}">
            {% for field_info in meta_data.table %}
            <td class="field-data-{{ field_info.field }}{% if row.highlight %} highlight{% endif %}">
                {% if field_info.link_field and row|keyvalue:field_info.link_field %}
                    <a href="{{ row|keyvalue:field_info.link_field|default:'#' }}">
                {% endif %}
                {{ row|keyvalue:field_info.field|default:'-' }}
                {% if field_info.link_field %}
                    </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    Нет данных по заданным условиям.
{% endif %}
{% for field in meta_data.footer %}
<div>{{ field.displayName }}:{{ data.footer|keyvalue:field.field|default:'-' }}</div>
{% endfor %}
</body>
</html>