html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0; }

.menured {
  margin: 0px;
  padding: 0px;
  float: left; }

.menured li {
  display: block;
  margin: 0px;
  padding: 0px;
  float: left;
  padding: 20px;
  padding-left: 0px;
  padding-top: 0px; }

h3 {
  padding: 0px;
  margin: 0px; }

.tmenhb {
  margin: 0;
  padding: 5px 5px 0px 10px;
  border-bottom: 1px solid #DCDCDC; }

.loading {
  position: absolute;
  left: 50%;
  width: 250px;
  margin-left: -200px;
  z-index: 99999;
  opacity: 0.5;
  background: #000;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  padding: 10px; }

.page {
  height: 100%;
  overflow: hidden; }

.control-panel {
  float: left;
  min-height: 100%;
  width: 260px;
  margin: 0 0 0px 10px;
  margin-top: -57px;
  padding-top: 57px; }

.map-content {
  width: auto;
  height: auto;
  margin-left: 270px;
  margin-top: -57px;
  padding-top: 57px; }

.select_group {
  float: left;
  padding: 0px; }

.dep > a {
  float: left;
  padding-left: 8px; }

.list-deps {
  width: 249px;
  min-height: 100%;
  overflow-y: auto; }

/*# sourceMappingURL=styles.css.map */
