<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Отслеживание тогровых агентов</title>
    <link rel="stylesheet" href="js/bower_components/leaflet/dist/leaflet.css" type="text/css" />
    <link rel="stylesheet" href="js/bower_components/Leaflet.markercluster/dist/MarkerCluster.css" type="text/css" />
    <link rel="stylesheet" href="js/bower_components/Leaflet.markercluster/dist/MarkerCluster.Default.css" type="text/css" />
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="js/bower_components/angular-ui-layout/ui-layout.css"/>
    <link rel="stylesheet" href="js/bower_components/ng-grid/ng-grid.css"/>
    <link rel="stylesheet" href="css/css.css" type="text/css" />
<body ng-app="umkGeo" ng-controller="umkMainCtrl">
<div class="loading" ng-class="{hidden:!umk.loading}" >
    <div class="msg">Загрузка данных...</div>
</div>

<script type="text/ng-template" id="config.html">
        <div class="modal-header">
            <div class="close-report btn btn-danger btn-sm glyphicon glyphicon-remove" ng-click="close()"></div>
            <h3 class="modal-title">Настройки</h3>
        </div>
        <div class="modal-body">
            <p class="input-group">
                <span class="input-group-btn"><input type="checkbox" id="modal_config_showArrows" ng-model="umk.config.showArrows"></span>
                <label for="modal_config_showArrows">Показывать направления при выборе точки остановки (тормозит при масштабировании!).</label>
            </p>
            <p class="input-group">
                <span class="input-group-btn"><input type="checkbox" id="modal_config_zoomOnSelect" ng-model="umk.config.zoomOnSelect"></span>
                <label for="modal_config_zoomOnSelect">Приближать при выборе точки остановки.</label>
            </p>
            <p class="input-group">
                Уровень приближения при клике:
                <rating ng-model="umk.config.zoomLevel" max="10" min="1" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" />
            </p>
            <p class="input-group">
                <span class="input-group-btn"><input type="checkbox" id="modal_config_showAllDepartments" ng-model="umk.config.showAllDepartments"></span>
                <label for="modal_config_showAllDepartments">Показывать и пустые группы.</label>
            </p>

<!--
            <div class="input-group">Источник карт :
                <span class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ umk.possibleTiles[umk.config.tiles].title || umk.config.tiles }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="(tile_name, tile_info) in umk.possibleTiles"><a href="#" ng-click="setTiles(tile_name)">{{ tile_info.title || tile_name }}</a></li>
                  </ul>
                </span>
            </div>
-->
        </div>
</script>
<script type="text/ng-template" id="window.html">
    <div class="modalWindow"></div>
</script>
<script type="text/ng-template" id="report_detail.html">
        <div class="modal-header">
            <div class="close-report btn btn-danger btn-sm glyphicon glyphicon-remove" ng-click="ctrl.close()"></div>
            <h2 class="modal-title" ng-if="!report_result || !report_result.meta_data.title">Отчет по {{ device.imei }} ({{ device.id }})</h2>
            <h2 class="modal-title" ng-if="report_result && report_result.meta_data.title">{{ report_result.meta_data.title }}</h2>
        </div>
        <div class="modal-body" ng-style="{height: height}">
          <div ui-layout="{ flow : 'column' }" >
            <div size="20%" max-size="50%" min-size="15%" style="text-align: center">
                <div class="input-group">
                    <button
                            style="padding: 2px 3px"
                            popover-trigger="mouseenter"
                            popover-placement="bottom"
                            popover="Удалить все точки остановок этого устройства за период и найти их заново по исходным данным"
                            class="btn" ng-class="{'btn-primary':cfg.report_recalc_stops}" ng-click="cfg.report_recalc_stops=!cfg.report_recalc_stops">
                        Пересчитать точки остановок
                    </button>
                </div>
                <div class="input-group small" style="margin: 8px 0;" >
                    <label for="minutes_per_row">максимальное время между строками отчета (минут):</label>
                    <input type="number" name="minutes_per_row" id="minutes_per_row" ng-model="cfg.minutes_per_row" ng-init="minutes_per_row=10" max="60" min="1" style="width: 100%">
                </div>
                <div class="input-group">
                    <button popover-trigger="mouseenter"
                            popover-placement="bottom"
                            popover="При формировании отчета для каждой точки отдельно определяется ее адрес, если этого не делать то отчет сформируется значительно быстрее"
                            class="btn" ng-class="{'btn-primary':cfg.no_address}" ng-click="cfg.no_address=!cfg.no_address">
                        <span class="glyphicon" ng-class="{'glyphicon-unchecked':!cfg.no_address,'glyphicon-check':cfg.no_address}"></span>
                        Не определять адрес
                    </button>
                </div>
                <div class="btn-group" style="margin: 8px 0;" >
                    <a ng-repeat=" ftype in ['html','csv','xls']"
                       class="btn btn-default"
                       target="_blank"
                       href="/geoumk/report/detail/{{ device.id }}.{{ ftype }}?fordate={{ umk.forDate }}&time_step={{ cfg.minutes_per_row }}{{ cfg.report_recalc_stops && '&recalc_stops=1' || '' }}{{ cfg.no_address && '&no-address=1' || '' }}"
                    >{{  ftype.toUpperCase() }}</a>
                </div>
            </div>
            <!-- report -->
            <div class="common-report-result" ui-layout="{ flow : 'row' }" ng-controller="umkReportCommonCtrl">
                <header size="7%" min-size="7%" max-size="7%">
                    <div class="report-loading btn btn-warning btn-sm " ng-if="report_result.updating" >
                        <span class=" glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </div>
                    <div ng-repeat="field in report_result.meta_data.header" class="report-info">
                        <label ng-if="!field.link_field">{{ field.displayName }}</label>
                        <span class="value" ng-if="!field.link_field">{{ report_result.data.header[field.field] }}</span>
                        <a ng-if="field.link_field" ng-href="{{report_result.data.header[field.link_field]}}">{{ field.displayName }}</a>
                    </div>
                </header>
                <div ng-grid="gridOptions" size="80%"></div>
                <footer>
                    <div ng-repeat="field in report_result.meta_data.footer" class="report-info">
                        <label>{{ field.displayName }}</label>
                        <span class="value">{{ report_result.data.footer[ field.field ] }}</span>
                    </div>
                </footer>
            </div>
          </div>
        </div>
</script>
<script type="text/ng-template" id="cell_url.html">
<div class="ngCellText" ng-class="col.colIndex()">
    <a ng-href="{{row.getProperty(col.field)}}" >{{row.getProperty(col.field)}}</a>
</div>
</script>
<!--
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ctrl.close()">Закрыть</button>
        </div>
-->
<div class="app" ui-layout="{flow : 'column'}">
    <aside min-size="200px" max-size="750px" size="350px" ng-controller="umkAsideResizeCtrl">
        <div class="form">
<!--
            <tabset>
                <tab heading="Маршрут за день" ></tab>
                <tab heading="Текущее положение" active="umk.track_mode=='points'"></tab>
            </tabset>
-->
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="umk.track_mode" btn-radio="'track'">Маршрут за день</label>
                <label class="btn btn-primary" ng-model="umk.track_mode" btn-radio="'points'">Текущее положение</label>
                <label class="btn btn-primary" ng-model="umk.track_mode" btn-radio="'report'">Отчёт</label>
                <label class="btn btn-default glyphicon glyphicon-cog" ng-click="config()"></label>
            </div>
            <p class="input-group" ng-controller="umkCalendarPopup" ng-class="{}">
              <input type="text" class="form-control"
                     datepicker-popup="dd.MM.yyyy"
                     ng-model="umk.forDate"
                     is-open="opened"
                     max-date="'2015-06-22'"
                     datepicker-append-to-body="true"
                     ng-focus="opened = true"
                     ng-click="opened = true"
                     ng-disabled="umk.track_mode=='points'"
                     ng-required="true" close-text="Закрыть" />
              <span class="input-group-btn" >
                <button type="button" ng-disabled="umk.track_mode=='points'" class="btn btn-default" ng-click="toggle($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

        </div>
        <div class="devices" ng-controller="umkDevicesCtrl">
            <div class="form">
                <div>
                <span class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ ctrl.currentDir && ctrl.currentDir.name || 'Выберете направление' }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="dir in directions"><a ng-click="ctrl.currentDir = dir">{{ dir.name }}</a></li>
                  </ul>
                </span>
                <span class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ ctrl.currentBranch && ctrl.currentBranch.name || 'Выберете филиал' }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="branch in branches"><a ng-click="ctrl.currentBranch = branch">{{ branch.name }}</a></li>
                  </ul>
                </span>
                </div>


                <p class="input-group">
                    <span class="input-group-btn"><button ng-click="ctrl.refresh()" class="glyphicon" style="font-size: 14px"></button></span>
                    <input type="text" class="form-control" ng-model="lookForDevice"  class="glyphicon glyphicon-search">
                </p>
            </div>
            <div ng-if="umk.track_mode=='report'" class="common-report-config form">
                <div class="input-group">
                Пересчитывать все точки остановок - <input type="checkbox" name="recalc_stops" ng-model="report_recalc_stops">
                </div>
                <div class="btn-group">
                    <a ng-repeat=" ftype in ['html','csv','xls']"
                       class="btn btn-default"
                       target="_blank"
                       href="/geoumk/report/common.{{ ftype }}?devices={{ getCheckedDevs('report_devs') }}&fordate={{ umk.get_forDate() }}{{ report_recalc_stops && '&recalc_stops=1' || '' }}"
                            >{{  ftype.toUpperCase() }}</a>
                </div>
                <div class="btn-group" style="float: right;">
                    <a
                       class="btn btn-success"
                       href=""
                       ng-click="report()"
                            > Сформировать </a>
                </div>
            </div>

            <ul class="list-group department-list" ng-style="{height:dev_list_height}">
                <li class="list-group-item device"  >
                    &nbsp;
                    <div class="section" ng-if="umk.track_mode =='points'"><input type="checkbox" ng-model="trackAll" ng-click="toggleTrackAllInDepartment( list, !trackAll, $event)">
                    </div>
                    <div class="section" ng-if="umk.track_mode == 'report'"><input type="checkbox" ng-model="reportForAll" ng-click="toggleTrackAllInDepartment( list, !reportForAll, $event, 'report_devs')">
                    </div>
                </li>
                <span ng-repeat="department in list" ng-if="umk.config.showAllDepartments || department.devices.length>0">
                <li class="list-group-item device"
                    ng-click="department.active=!department.active"
                        class="small">
                    <span class="glyphicon small" ng-class="{'glyphicon-folder-close':!department.active,'glyphicon-folder-open':department.active}"> </span>
                    <div class="small" style="display: inline-block;"> {{ department.name }}</div><span style="margin-left: 15px">{{ department.devices.length }}</span>
                    <div class="section" ng-if="umk.track_mode=='points'">
                        <input type="checkbox" ng-model="department.track_devs" ng-click="toggleTrackAllInDepartment( department, !department.track_devs, $event,'track_devs')">
                    </div>
                    <div class="section" ng-if="umk.track_mode=='report'">
                        <input type="checkbox" ng-model="department.report_devs" ng-click="toggleTrackAllInDepartment( department, !department.report_devs, $event, 'report_devs')">
                    </div>
                </li>
                <!--
                <button ng-click="ctrl.toggleAllDevices(department)" class="glyphicon glyphicon-check" ng-class="{'btn-primary':department.allDevicesActive}" ng-init="department.allDevicesActive = false"></button>
                        nog-click="ctrl.selectDevice( device )"
                -->
                <ul class="list-group device-list " ng-class="{ hidden: !department.active}">
                    <li class="list-group-item device" ng-repeat="device in department.devices"
                        ng-class="{ active:device.id == umk.currentDevice.id, hidden: lookForDevice && device.lookForFiltred}"
                        class="small"
                        ng-mouseleave="device.detail_report_btn=false" ng-mouseenter="device.detail_report_btn=true"
                            >
                        <a href="" ng-click="centerToDev(device.id);"> {{ device.id }} <span ng-bind-html="device.imei | highlight: lookForDevice"></span>
                        </a>

                         <div class="section" ng-if="umk.track_mode=='points'">
                            <input type="checkbox" ng-model="umk.track_devs['dev'+device.id]" ng-value="device.id" ng-click="changeTrackDevice(device)">
                        </div>
                         <div class="section" ng-if="umk.track_mode=='report'">
                            <input type="checkbox" ng-model="umk.report_devs['dev'+device.id]" ng-value="device.id">
                        </div>
                        <div ng-show="device.detail_report_btn" class="detail-report-bnt section">
                            <label class="btn btn-default glyphicon glyphicon-list-alt" ng-click="ctrl.detail_report(device)"></label>
                        </div>

                    </li>
                </ul>
                </span>
            </ul>
        </div>
    </aside>
    <section ng-init="report_data_src='umk.report_result'">
        <!-- report -->
        <div class="common-report-result" ui-layout="{ flow : 'row' }" ng-if="umk.report_result" ng-controller="umkReportCommonCtrl">
            <header size="20%">
                <div class="close-report btn btn-danger btn-sm glyphicon glyphicon-remove" ng-click="umk.report_result=null;reportSvc.abort()"></div>
                <div class="report-loading btn btn-warning btn-sm " ng-if="umk.report_result.updating" >
                    <span class=" glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
                <h4 style="text-align:center">{{ umk.report_result.meta_data.title }}</h4>
            </header>
            <div ng-grid="gridOptions"></div>
        </div>
        <!-- map and stop points grid -->
        <div ui-layout="{ flow : 'row' }" ng-if="!umk.report_result"  >
            <div min-size="30%" size="70%" class="leaflet" ng-controller="umkMapCtrl" ng-show="!umk.report_common_result"> <!-- ng-class="{hidden:umk.report_result}"


                    legend="devices.legend"
                    bounds="devices.bounds"
                    tiles="tiles"
                    paths="map.paths"
                    markers="map.markers"
                    decorations="umk.map.decors"
                    defaults="defaults"
                    center="center"
                        tiles="tiles"
                        tiles="map.tiles"
        -->
                <leaflet
                        width="100%" height="100%"
                        bounds="map.bounds"
                        markers="map.markers"
                        decorations="umk.config.showArrows && map.decors"
                        paths="map.paths"
                        defaults="defaults"
                        center="map.center"
                        layers="layers"
                        ></leaflet>
            </div>
            <div class="grid" max-size="500px" ng-grid="gridOptions" ng-controller="umkGridCtrl">
            </div>
        </div>
    </section>
</div>


<!-- Javascript --
<!-- <script type="text/javascript" src="gps/leaflet.js"></script> -->

<script type="text/javascript" src="js/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/bower_components/angular-route/angular-route.js"></script>

<script type="text/javascript" src="js/bower_components/angular-ui-grid/ui-grid.js"></script>

<script type="text/javascript" src="js/bower_components/ng-grid/ng-grid-2.0.13.debug.js"></script>
<script type="text/javascript" src="js/bower_components/ng-grid/plugins/ng-grid-layout.js"></script>

<script type="text/javascript" src="js/bower_components/leaflet/dist/leaflet-src.js"></script>
<script type="text/javascript" src="js/bower_components/angular-leaflet/dist/angular-leaflet-directive.js"></script>

<script type="text/javascript" src="js/bower_components/Leaflet.PolylineDecorator/leaflet.polylineDecorator.js"></script>
<script type="text/javascript" src="js/bower_components/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script type="text/javascript" src="js/bower_components/leaflet-plugins/layer/tile/Google.js"></script>
<!--
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;coordorder=longlat&amp;lang=ru-RU&amp;ns=ymaps"></script>
<script type="text/javascript" src="js/bower_components/leaflet-plugins/layer/tile/Yandex.js"></script>
-->
<script type="text/javascript" src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="js/bower_components/angular-ui-layout/ui-layout.js"></script>

<script type="text/javascript" src="js/src/app.js"></script>
<script type="text/javascript" src="js/src/services.js"></script>
<script type="text/javascript" src="js/src/mapCtrl.js"></script>
<script type="text/javascript" src="js/src/mainCtrl.js"></script>
<script type="text/javascript" src="js/src/devicesCtrl.js"></script>
<script type="text/javascript" src="js/src/gridCtrl.js"></script>

</body>
</html>