.list-group-item {
  padding: 1px 3px; }

.devices {
  padding: 5px; }

.device-list {
  margin: 0 0 1px 15px; }

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.detail-report-bnt {
  border-left: none;
  position: absolute;
  right: 32px;
  top: 0px;
  width: 35px !important; }

.list-group-item .section {
  float: right;
  padding-left: 3px;
  border-left: 1px solid #dddddd;
  height: 22px;
  width: 28px;
  text-align: center; }

.detail-report-bnt > * {
  padding: 1px 3px; }

.form-control {
  padding: 2px 10px;
  height: 21px; }

.btn {
  font-size: 11px;
  padding: 2px 9px; }

.input-group {
  margin: 0; }

.input-group label {
  font-weight: normal;
  padding-left: 10px; }

.active a {
  color: #ffffff;
  font-weight: bold; }

.list-group-item a {
  width: 70%;
  display: inline-block;
  overflow: hidden; }

.department-list button {
  float: right;
  top: -25px; }

.department-list {
  overflow-y: scroll;
  margin-bottom: 0;
  border-top: solid 2px #dddddd; }

.grid {
  background-color: #9fbbb4; }

.ui-splitbar {
  z-index: 990; }

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(50, 50, 70, 0.8);
  z-index: 99999; }

.loading div {
  margin: auto;
  padding: 10px;
  background: white;
  width: 180px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  border: solid 4px #0000AA;
  position: relative;
  top: 50%;
  height: 50px;
  margin-top: -25px; }

.leaflet-div-icon {
  font-size: 9px;
  border-radius: 25px 25px 30px 30px;
  border: solid 2px #000055;
  text-align: center;
  padding-top: 8px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.55); }

.leaflet-div-icon .leaflet-popup-tip-container {
  top: 3px; }

.leaflet-div-icon .leaflet-popup-tip {
  border: solid 2px #000055; }

.leaflet-div-icon:hover {
  z-index: 1000900 !important; }

.dropdown-menu > li {
  cursor: pointer; }

.leaflet {
  width: 100%;
  height: 100%; }

.common-report-result {
  background-color: #ffffff; }

.common-report-result header, .common-report-result footer {
  background-color: #dddddd; }

.close-report {
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.report-loading {
  position: absolute;
  left: 6px;
  top: 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px; }

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
.report-info {
  display: inline-block;
  margin: 1px 1px;
  border: solid 1px;
  padding: 0px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px; }

.report-info label {
  margin-bottom: 0; }

.common-report-result > * {
  padding-left: 4px; }

.common-report-result footer .report-info:first-child {
  margin-top: 5px; }

/*# sourceMappingURL=css.css.map */
