
.topmenu{
}
.topmenu ul{
padding: 0px;
margin: 0px;
}
.topmenu ul li{
padding: 0px;
margin: 0px;
display: inline;
padding: 7px;
padding-bottom: 3px;
border-radius: 7px 7px 0 0;
-moz-border-radius: 7px 7px 0 0;
-webkit-border-radius: 7px 7px 0 0;
    background-color: #e1e1e1;
}
a{
color: #0069b4;
}
.topmenu ul li a{
text-decoration: none;
padding: 10px;
color: #000;
font-weight: bold;
}
.topmenu ul li.action
{
    background-color: #1E90FF;

}
.topmenu ul li.action a
{
    color: #FFF;

}
.titleh1{
	font-size: 20px;
	padding-top: 15px;
}
.left{
	width: 250px;
	padding-left: 5px;
}
.left ul{
	padding-left: 10px;
}
.left ul ul{
	padding-left: 20px;
}
.left li{
	float: left;
	width: 100%;
	display: inline;
}
.left a{
	float: left;
	width: 80%;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 19px;
	margin-top: 2px;
    background: url(http://10.10.77.83/main/rad.png) no-repeat 10px center;
    text-decoration: none;
    border-bottom: 1px solid #dee5f0;
}
.left li a{
    background: url(http://10.10.77.83/main/dir.png) no-repeat 0px center;
}
.left li li a{
    background: url(http://10.10.77.83/main/rad.png) no-repeat 2px center;
}
.left a.action{
	padding-left: 25px;
    background: #1E90FF url(http://10.10.77.83/main/gal.png) no-repeat left center;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.left .seach{
	width: 190px;
	float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 25px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #bfbfbf;
height: 20px;
    background:  url(http://10.10.77.83/main/seach.png) no-repeat 5px center;
    color: #737373;
}
.center_block{
padding: 0px;
}